/* CSS designed by Nana Antwi */



* {
    font-size: 12pt;  /* sets the font size for all elements. */
}

body {
    background-color: #557A95;
    background-image: url(pexel.jpg);
  
}

h1 {
    color: #000000;
    font-family: "sansserif";
    font-weight: bold;
    font-size: 1.5em;
}

h2 {
    color: #000000;
    font-family: "sansserif";
    font-weight: bold;
    font-size: 1.25em;
}

h3 {
    color: black;
    font-family: 'times new roman';
    font-weight: bold;
    font-size: 1em;
}

h4 {
    color: #000000;
    font-family: "sansserif";
    font-weight: bold;
    font-size: .8em;	
}

h5 { 
    color: #000000;
    font-family: "sansserif";
    font-weight: bold;
    font-size: .6em;	
}

h6 {
    color: #000000;
    font-family: "sansserif";
    font-weight: bold;
    font-size: .5em;	
}

ol ol ol li {
    list-style: lower-alpha
}

ol ol li {
    font-weight: normal;
    list-style: decimal;
    padding-top: 0em
}

ol li {
    font-weight: bold;
    list-style: upper-roman;
    padding-top: 1em
}

ul ul ul li { 
    list-style: circle;
}

ul ul li { 
    list-style: square;
}

ul li { 
    list-style: disc;
}

/*Header Section */

header {
    background-color: #dddddd;
    font-style: oblique;
}




/* center image */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* make the link button */
 .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}




